<%= form_for(@tweetbox) do |f| %>
  <% if @tweetbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweetbox.errors.count, "error") %> prohibited this tweetbox from being saved:</h2>

      <ul>
      <% @tweetbox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
