<!-- Building the Random Scroll Picture Generator-->

<h1> Generating Random Pictures</h1>


<h1><p><%= @sName %></p></h1>

<b><img src ="http://codemountain.com<%= @sAvatar %>"></b>
<p></p>
<input type="button" value="Refresh Student" onClick="refreshpage();">